.bg-black {
  background-color: #334155;
  color: var(--bs-accordion-active-bg)
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
}

@media (max-width: 700px) {
  .img-leao {
    width: 95%;
  }
}

.navbar-toggler {
  background-color: rgba(200, 145, 22, 1.000000) !important;
}

.preco {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.w-full {
  width: 100%;
}

.img-leao {
  position: absolute;
  top: 10%;
  left: 4%;
  transform: rotateY(180deg);
  opacity: 10%;
  z-index: -1;
}

.img-autor {
  width: 80%;
}

.img-livro {
  width: 50%;
}

.card.bg-custom {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f8f9fa;
  border: 1px solid #545454;
  box-shadow: 0 1.5rem 4rem rgb(251 251 251 / 15%);
}

.card.bg-custom:hover {
  border: 0;
}

.card.bg-custom::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://confiancainabalavel.my.canva.site/images/c795e7eef74a6ae8e4fc7929a37237c8.svg);
  z-index: -1;
  opacity: 10%;
  background-size: cover;
}